body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

nav a {
  background: teal; 
  padding: 10px;
}

img {
  font-size: 22px
}

section {
  text-align: center;
}

/*featured-property {*/
/*  width: 800px*/
/*}*/

/*h1 {*/
/*  text-align: center;*/
  /*color: red;*/
/*}*/

/*.featured-property {*/
    /*display: block;*/
    /*margin-left: auto;*/
    /*margin-right: auto; */
  /*text-align: center;*/
}

